<!DOCTYPE html>
<html>
  <head>
    <title>Статистика доставки</title>
    <link rel="stylesheet" type="text/css" href="../css/select.css"/>
    <link href="../css/dilivery-statistic.css" rel="stylesheet" type="text/css">
    <!-- bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- end bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/getStatistic.js" defer></script>
    <script src="../js/internalization.js" defer></script>
    <script data-main="../js/node-request.js" src="../node_modules/requirejs/require.js"></script>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header">
        <select data-i18n-switcher class="locale-switcher">
          <option value="ru">Русский</option>
          <option value="en">English</option>
        </select>
        <div class="header-number" data-i18n-key="header.support">Тех. поддержка +7 923 956 78 97</div>
        <button class="header-button" id="theme-button" data-i18n-key="header.change-theme">Сменить тему</button>
      </div>
    </div>

    <div class="content">
      <div class="title">
        <div class="text">Отслеживание посылок</div>
        <div class="links-wrap">
          <div class="links">
            <a class="link" href="dilivery-statistic.html">Статистика доставки</a>
            <a class="link" href="mail-status.html">Статус посылок</a>
            <a class="link" href="instruction.html">Инструкция</a>
          </div>
        </div>
      </div>

      <div class="subtitle">Данные за 2021 год</div>

      <div class="graphic">
        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
    </div>
  </body>
</html>