<!DOCTYPE html>
<html>
  <head>
    <title>Инструкция</title>
    <link href="../css/instruction.css" rel="stylesheet" type="text/css">
    <script src="../js/theme.js" defer></script>
    <!-- bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- end bootstrap -->
  </head>
  <body>
    <div class="header-wrap">
      <div class="header">
        <button class="header-button">Сменить язык</button>
        <div class="header-number">Тех. поддержка +7 923 956 78 97</div>
        <button class="header-button" id="theme-button">Сменить тему</button>
      </div>
    </div>

    <div class="content">
      <div class="title">
        <div class="text">Отслеживание посылок</div>
        <div class="links-wrap">
          <div class="links">
            <a class="link" href="dilivery-statistic.html">Статистика доставки</a>
            <a class="link" href="mail-status.html">Статус посылок</a>
            <a class="link" href="instruction.html">Инструкция</a>
          </div>
        </div>
      </div>
      <div class="text">1. Через сайт компании. По коду, присвоенному посылке при отправке,
        можно узнать ее местонахождение на официальном сайте компании ПЭК.
        Отслеживание груза происходит не только по Москве, но и по всей России. 
       Для того чтобы отследить доставку ПЭК, в строку поиска вводится полностью индивидуальный код. 
       При этом необходимо вводить все буквы на русском языке и не пропускать тире и знак слэш между цифрами.
        После указания номера нужно нажать на кнопку «Отследить груз».
        После этого на странице отобразится необходимая информация, кроме того, данные будут наглядно показаны с помощью карты.
        <div class="text">2. Через электронную почту. На официальном сайте компании ПЭК можно настроить оповещение о нахождении посылки на электронный ящик отправителя. 
        Для этого клиент должен перейти в закладку «Сервисы» и указать информацию об электронном адресе, на который будут переданы сведения.
         Как только груз будет проходить контрольные точки, данные о его местоположении будут отправляться на почту.</div>
         <div class="text">3. Через СМС. Услуга СМС-оповещения доступна для клиентов транспортной компании ПЭК после настройки в личном кабинете клиента.
         Уведомления, приходящие на телефон, своевременно доставляют информацию о месторасположении груза, сразу после того, как он прошел очередной контрольный пункт.</div>
         <div class="text">4. Через Telegram. Для удобства клиентов был создан специальный чат в социальной сети Telegram, 
           с помощью которого легко отследить перемещения посылки. Для этого необходимо скачать приложение на мобильный телефон и зарегистрироваться.
          В поисковике вводится «pecomru_bot», официальный аккаунт компании в Telegram. Далее откроется чат, и для того, чтобы узнать месторасположение груза, 
          нужно написать в него команду «/getcargoinfo» и следующим сообщением код посылки. В ответ бот пришлет всю доступную информацию по интересующей посылке</div>
          <div class="text">5. Отследить посылку по фамилии или названию организации, будь то отправителя или же получателя,
             в автоматическом режиме компания ПЭК не предоставляет. Такая предосторожность связана с безопасностью,
              так как информация может быть использована мошенниками в своих целях. 
              Неважно, есть ли у вас экспедиторская расписка или нет.</div>
  </body>
</html>