<!DOCTYPE html>
<html>
  <head>
    <title>Статус посылок</title>
    <link href="../css/mail-status.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="content">
      <div class="title">
        <div class="text">Отслеживание посылок</div>
        <div class="controls-button-wrap">
          <div class="controls-button">
            <a class="link" href="templates/dilivery-statistic.html">Статистика доставки</a>
            <a class="link" href="templates/mail-status.html">Статус посылок</a>
            <a class="link" href="templates/instruction.html">Инструкция</a>
          </div>
        </div>
      </div>
      
      <div>
        <div class="text">Отслеживая почтовое отправление, клиент видит, где она находится и на какой стадии обработки в почтовом отделении.
          Стадия обработки показывает статус посылки, он бывает разным.
          <div class="text">«Прием посылки» – на этой стадии груз проходит первоначальную обработку, уже присвоен трек-номер и его готовят на отправку.
           <div class="text">«Посылка в пути» – посылка находится на маршруте своего пути.</div>
           <div class="text"> «Посылка вручена адресату» – товар был благополучно доставлен и вручен адресату.</div>
           <div class="text">«Посылка находится в промежуточном пункте» – такой статус присущ международным отправлениям.
              Промежуточным пунктом может быть склад перевозчика, пункт обмена международных почтовых отправлений.
           «Посылка покинула промежуточный пункт» – это означает, что груз был передан перевозчику и продолжил свой маршрут.</div>
           <div class="text">«Груз выпущен таможней» – статус гласит, что посылка прошла проверку и оформление таможенной службой и была передана почтовому оператору для дальнейшей доставки.
            <div class="text">«Посылка вылетела в страну назначения» – груз будет доставлен в страну назначения для последующего импорта.</div>
           «Посылка находится в почтовом отделении» – по прибытии в указанную страну и почтовое отделение указывается именно этот статус.</div>
      </div> 
  </body>
</html>