<!DOCTYPE html>
<html>
  <head>
    <title>Рассчитать срок доставки</title>
    <link href="../css/srok.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    
    <form action="/action"> <div class="form">
    Ваш телефон: <input type="text" name="firstname" value="">

    Откуда:<input type="text" name="lastname" value="">
      
    Куда:<input type="text" name="lastname" value="">
      
      
      <input type="submit" value="Отправить"> <div class="button"></div>
    </form> 
  </div>
  </body>
</html>