<!DOCTYPE html>
<html>
  <head>
    <title>Найти отделение</title>
    <link href="../css/srok.css" rel="stylesheet" type="text/css">
    <!-- bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- end bootstrap -->
    <script src="../js/theme.js" defer></script>
  </head>

  <body>
    <div class="header-wrap">
      <div class="header">
        <button class="header-button">Сменить язык</button>
        <div class="header-number">Тех. поддержка +7 923 956 78 97</div>
        <button class="header-button">Сменить тему</button>
      </div>
    </div>

    <div class="content">
      <div class="title">
        <div class="text">Отслеживание посылок</div>
        <div class="links-wrap">
          <div class="links">
            <a class="link" href="dilivery-statistic.html">Статистика доставки</a>
            <a class="link" href="mail-status.html">Статус посылок</a>
            <a class="link" href="instruction.html">Инструкция</a>
          </div>
        </div>
      </div>

      <form action="/action"> 
        <div class="form">
          Ваш телефон: <input type="text" name="firstname" value="">
          Откуда:<input type="text" name="lastname" value="">
          Куда:<input type="text" name="lastname" value="">

          <input type="submit" value="Отправить">
        </div>
      </form> 
    </div>
  </body>
</html>